aniso8601 (1.2.0)
appdirs (1.4.3)
click (6.7)
Flask (0.12)
Flask-RESTful (0.3.5)
itsdangerous (0.24)
Jinja2 (2.9.5)
MarkupSafe (1.0)
numpy (1.12.0)
packaging (16.8)
pandas (0.19.2)
pip (9.0.1)
pyparsing (2.2.0)
python-dateutil (2.6.0)
pytz (2016.10)
setuptools (34.3.2)
six (1.10.0)
SQLAlchemy (1.1.6)
Werkzeug (0.12.1)
wheel (0.29.0)

NOT PART OF ANACONDA
conda update --all
* conda install -c conda-forge appdirs=1.4.3y
* conda install -c anaconda flask=0.12
* conda install -c menpo flask-restful=0.2.12