svg {
  background-color: #bbbbff;
}

path {
  fill:   #e0f0d4;
  stroke: #666;
  stroke-width: .5px;
}

.line { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis text {
	font-size: 10px;
}

.overlay {
	fill: none;
	pointer-events: all;
}

#needhelp { 
	font-family: Helvetica, Arial, Sans-Serif;
	font-style: italic;
	margin: 10px 0px 10px 0px;
}

#needhelp a { 
	text-decoration: none;
}

#midsection {
	width: 1350px;
	height: 500px;
	}

#map {
	width: 800px;
	float: left;
}
	
#sidescreen{
   display:table;
   table-layout:fixed;
   height:100%;
   padding: 0px 0px 0px 5px;
   width: 500px;
}
#row{
    display : table-row;
	height: 250px;
}
#row2{
	display : table-row;
    height: 250px;
}

#slider {
	width:800px;
}

#first {
	
}

#second {
	margin: 0px 0px 0px 5px;
}
