/*head{
  display: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}*/

body {
  font-family: courier;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

h1 {
  font-size: 7vmin;
  color: white;
  text-align: center;
  vertical-align: center;
  text-shadow: 1px 1px 1px black;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 0.8% 0px 0.8% 0px;
  overflow: auto;
  background-color: rgba(50, 120, 50, 1);
  border-top: 3vh;
  border-bottom: 3vh;
  border-color: rgb(50, 90, 45);
}

/*Set titles to be 20% of screenheight and give them a margin
Note: This is where the overlap of the buttons came from!*/
.title1, .title2, .title3, .title4{
  background-color: rgba(50, 90, 45, 1);
  height: 20vh;
  vertical-align: center;
  margin: 0px 0px -25px 0px;
  padding: 0px;
}

.title4{
  margin: 0px 0px 0px 0px;
}

/*Make the three pages 85% screenheight and create the
parralax scrolling effect*/
.page1, .page2, .page3{
  /* Set a specific height */
  height: 85vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}


/*Set the background images separately*/
.page1 {
    /* The image used */
    background-image: url("introduction/images/treerow.jpg");
}

.page2{
  background-image: url("introduction/images/forest.jpg");
  text-align: justify;
}

.page3{
  background-image: url("introduction/images/forestfire.jpg");
}

/*Set the textblocks of */
.page1 p, .page2 p, .page3 p {
  font-size: 3vmin;
  position: relative;
  top: 15%;
  color: white;
  background: rgba(50, 90, 45, 0.3);
  width: 80%;
  border: 1px solid green;
  margin: 0 auto;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

.page2 div {
  height: 35%;
  width: 27%;
  position: relative;
  /*top: 80%;*/
  display: inline-block;
  background: rgba(185, 191, 201, 0.3);
  border-radius: 15px;
  transform: translateY(100%);
}

.page2 div img{
  bottom: 0%;
  height: 75%;
  align-content: middle;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: none;
  position: relative;
}

.page2 div p{
  font-size: 2.5vmin;
  text-align: center;
  background: none;
  border: none;
  font-weight: bold;
  width: 100%;
}

.page2:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.thumb:hover, .thumb2:hover, .thumb3:hover, .thumb4:hover, .thumb5:hover {
	border:0; /* IE6 needs this to show large image */
	z-index:1;
}

.thumb span, .thumb2 span, .thumb3 span, .thumb4 span, .thumb5 span {
  opacity: 0;
	position:relative;
	visibility:hidden;
}

.thumb:hover span, .thumb2:hover span, .thumb3:hover span{
	visibility:visible;
	position: absolute;
  height: 200%;
  top: -50%;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.page3 div {
  height: 65%;
  /*left:5%;          Works on FireFox, not Chrome.*/
  width: 30%;
  position: relative;
  top: 20%;
  display: flex;
  background: none;
  border-radius: 15px;
  justify-content: space-between;
}

.page3 div img{
    top: 15%;
    height: 75%;
    background: none;
    position: absolute;
    left: 32%;
}

.page3 > div {
    width: 100%;
  }

/*.page3 div p{
  font-size: 2.5vmin;
  text-align: center;
  background: none;
  border: none;
  font-weight: bold;
  width: 100%;
}*/

.thumb4, .thumb5{
  background: rgba(185, 191, 201, 0.3);
  width: 100%;
  border-radius: 15px;
  position: relative;
  left: 40%;
  /*left: 100%;*/
}

.thumb4:hover span, .thumb5:hover span {
	visibility:visible;
	position: absolute;
  height: 150%;
  top: -30%;
  left: 0%;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mapplaceholder img {
  image-orientation: center;
  width: 100%;
  height: auto;
}

#pict1, {
  display: block;
  float: left;
  position: relative;
  left: 15%;
  width: 25%;
  height: auto;
  border: 1px solid green;
  background: rgba(50, 90, 45, 0.1);
}

#pict2 {
  display: block;
  float: right;
  position: relative;
  right: 15%;
  width: 25%;
  max-width: 40%;
  height: auto;
  border: 1px solid green;
  background: rgba(50, 90, 45, 0.1);
}

#page2text{
  vertical-align: top;
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px black;
}

#pict3{
  left:10%;
}

#page2text{
  vertical-align: top;
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px black;
}

.bounce,.bounce2, .bounce3{
width:0px;
height:0px;
border-left:12px solid transparent;
border-right:12px solid transparent;
border-top:12px solid #fff;
position: relative;
left:50%;
bottom:0;
margin-top:-25px;
margin-left:-25px;
-webkit-animation:bounce 2s infinite;
-moz-animation:bounce 2s infinite;
-o-animation:bounce 2s infinite;
animation:bounce 2s infinite;
}


.bounce,.bounce2, .bounce3{
width:0px;
height:0px;
border-left:12px solid transparent;
border-right:12px solid transparent;
border-top:12px solid #fff;
position: relative;
left:50%;
bottom:0;
margin-top:-25px;
margin-left:-25px;
-webkit-animation:bounce 2s infinite;
-moz-animation:bounce 2s infinite;
-o-animation:bounce 2s infinite;
animation:bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-moz-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-o-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}


 svg {
	background-color: #e8e8e8;
}

text {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 12px;
}

path {
	fill:   #e0f0d4;
	stroke: #666;
	stroke-width: .5px;
}

.line {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.axis text {
	font-size: 10px;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.bar.positive {
  fill: darkred;
}

.bar.negative {
  fill: steelblue;
}

/*
.button {
	float: left;
    border: none;
	margin: 0px 5px 0px 0px;
	padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}*/

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  font-family: Helvetica;
  font-size: 14px;
}


#midsection {
	width: 1350px;
	height: 535px;
	}

#btmsection {
	padding: 5px 0px 0px 0px;
	width: 1350px;
	height: 90px;
	}

#topnav {
	width: 1350px;
	height: 30px;
	}

#map {
	width: 800px;
	height: 505px;
	float: left;
}

#sidescreen{
	display:table;
	table-layout:fixed;
	padding: 0px 0px 0px 5px;
	width: 460px;
}

#sidenav {
	display : table-row;
	height: 30px;
	}

#sideblock {
	display : table-row;
	height: 465px;
	}

#slider {
	width:800px;
	float: left;
}
