svg {
	background-color: #bbbbff;
}

text {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 12px;
}

path {
	fill:   #e0f0d4;
	stroke: #666;
	stroke-width: .5px;
}

.line { 
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.axis text {
	font-size: 10px;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.bar.positive {
  fill: darkred;
}

.bar.negative {
  fill: steelblue;
}

.button {
	float: left;
    background-color: #bbbbff;
    border: none;
	margin: 0px 5px 0px 0px;
	padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

#needhelp { 
	float: left;
	width: 450px;
	font-family: Helvetica, Arial, Sans-Serif;
	font-style: italic;
	margin: 10px 0px 10px 10px;
}

#needhelp a { 
	text-decoration: none;
}

#midsection {
	width: 1350px;
	height: 535px;
	}
	
#btmsection {
	padding: 5px 0px 0px 0px;
	width: 1350px;
	height: 90px;
	}	

#topnav {
	width: 1350px;
	height: 30px;
	}	

#map {
	width: 800px;
	height: 505px;
	float: left;
}
	
#sidescreen{
	display:table;
	table-layout:fixed;
	padding: 0px 0px 0px 5px;
	width: 460px;
}

#sidenav {
	display : table-row;
	height: 30px;
	}
	
#sideblock {
	display : table-row;
	height: 465px;
	}		

#slider {
	width:800px;
	float: left;
}
