head{
  display: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

body {
  font-family: courier;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

h1 {
  font-size: 7vmin;
  color: white;
  text-align: center;
  vertical-align: center;
  text-shadow: 1px 1px 1px black;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 0.8% 0px 0.8% 0px;
  /*height: 10vh;*/
  overflow: auto;
  /*width: 80%;*/
  /*border-radius: 10px;*/
  background-color: rgba(50, 120, 50, 1);
  border-top: 3vh;
  border-bottom: 3vh;
  border-color: rgb(50, 90, 45);
}

.title1 {
  background-color: rgba(50, 90, 45, 1);
  height: 20vh;
  vertical-align: center;
  margin: 0px 0px -25px 0px;
  padding: 0px;
}

.page1 {
    /* The image used */
    background-image: url("images/treerow.jpg");
    /* Set a specific height */
    height: 85vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}


.page1 p {
  font-size: 3vmin;
  position: relative;
  top: 15%;
  color: white;
  background: rgba(50, 90, 45, 0.3);
  width: 80%;
  border: 1px solid green;
  margin: 0 auto;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

.title2{
  background-color: rgba(50, 90, 45, 1);
  height: 20vh;
  margin: 0px 0px -25px 0px;
  padding: 0px;
}

.page2{
  background-image: url("images/forest.jpg");
  height: 85vh;
  margin: 0px 0px 0px 0px;
  padding: 0px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: justify;
}

.page2 p{
  font-size: 3vmin;
  position: relative;
  top: 15%;
  color: white;
  background: rgba(50, 90, 45, 0.3);
  width: 60%;
  border: 1px solid green;
  margin: 0 auto;
}

.page2 div {
  height: 35%;
  width: 27%;
  position: relative;
  /*top: 80%;*/
  display: inline-block;
  background: rgba(185, 191, 201, 0.3);
  border-radius: 15px;
  transform: translateY(100%);
}

.page2 div img{
  bottom: 0%;
  height: 75%;
  align-content: middle;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: none;
  /*transform: translateY(-50%);*/
  /*display: flex;*/
  /*display: inline-block;
  *display: inline;*/
  /*justify-content:space-between;*/
  position: relative;
}

.page2 div p{
  font-size: 2.5vmin;
  text-align: center;
  background: none;
  border: none;
  font-weight: bold;
  width: 100%;
}

.page2:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.thumb:hover {
	border:0; /* IE6 needs this to show large image */
	z-index:1;
}

.thumb span {
  opacity: 0;
	position:relative;;
	visibility:hidden;
}

.thumb:hover span {
	visibility:visible;
	position: absolute;
  height: 200%;
  top: -50%;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /*vertical-align: middle;*/
}

.thumb2:hover {
	border:0; /* IE6 needs this to show large image */
	z-index:1;
}

.thumb2 span {
  opacity: 0;
	position:relative;
	visibility:hidden;
}

.thumb2:hover span {
	visibility:visible;
	position: absolute;
  height: 200%;
  top: -50%;
  left: 0%;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /*vertical-align: middle;*/
}

.thumb3:hover {
	border:0; /* IE6 needs this to show large image */
	z-index:1;
}

.thumb3 span {
  opacity: 0;
	position:relative;
	visibility:hidden;
}

.thumb3:hover span {
	visibility:visible;
	position: absolute;
  height: 200%;
  top: -50%;
  left: 0%;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /*vertical-align: middle;*/
}

/*.page2 h3{
font-size: 2vmin;
position: relative;
color: white;
letter-spacing: -1px;
background: rgb(0, 0, 0); fallback color
background: rgba(0, 0, 0, 0.7);
padding: 2px;
margin: 0 auto;
text-align: center;
transform: translateY(-50%);
top: 55%;
}*/

.title3{
  background-color: rgba(50, 90, 45, 1);
  height: 20vh;
  margin: 0px 0px -25px 0px;
  padding: 0px;
}

.page3{
  background-image: url("images/forestfire.jpg");
  height: 85vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.page3 p{
  font-size: 3vmin;
  position: relative;
  top: 15%;
  color: white;
  background: rgba(50, 90, 45, 0.3);
  width: 60%;
  border: 1px solid green;
  margin: 0 auto;
}

.page3 div {
  height: 65%;
  /*left:5%;          Works on FireFox, not Chrome.*/
  width: 30%;
  position: relative;
  top: 20%;
  display: flex;
  background: none;
  border-radius: 15px;
  justify-content: space-between;
}

.page3 div img{
    top: 15%;
    height: 75%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: inline-block;*/
    background: none;
    position: absolute;
    left: 32%;
}

.page3 > div {
    width: 100%;
    /*display: flex;*/
    /*vertical-align: top;*/
    /*align-content:space-between;*/
  }

/*.page3 div p{
  font-size: 2.5vmin;
  text-align: center;
  background: none;
  border: none;
  font-weight: bold;
  width: 100%;
}*/

.thumb4, .thumb5{
  background: rgba(185, 191, 201, 0.3);
  width: 100%;
  border-radius: 15px;
  /*left: 100%;*/
}

.thumb4{
  position: relative;
  left: 40%;
}

.thumb5{
  position: relative;
  right: -40%;
}

.thumb4:hover {
	border:0; /* IE6 needs this to show large image */
	z-index:1;
}

.thumb4 span {
  opacity: 0;
	position:relative;;
	visibility:hidden;
}

.thumb4:hover span {
	visibility:visible;
	position: absolute;
  height: 200%;
  top: -60%;
  left: 10%;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /*vertical-align: middle;*/
}

.thumb5 span {
  opacity: 0;
	position:relative;;
	visibility:hidden;
}

.thumb5:hover span {
	visibility:visible;
	position: absolute;
  height: 200%;
  top: -60%;
  left: 10%;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: black;
  /*vertical-align: middle;*/
}

/*.page3 img{
  font-size: 18px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

.title4{
  background-color: rgba(50, 90, 45, 1);
  height: 20vh;
  margin: 0px 0px -25px 0px;
  padding: 0px;
}

.mapplaceholder img {
  image-orientation: center;
  width: 100%;
  height: auto;
}

#pict1 {
  display: block;
  float: left;
  position: relative;
  left: 15%;
  width: 25%;
  /*max-width: 40%;*/
  height: auto;
  border: 1px solid green;
  background: rgba(50, 90, 45, 0.1);
}

#pict2 {
  display: block;
  float: right;
  position: relative;
  right: 15%;
  width: 25%;
  max-width: 40%;
  height: auto;
  border: 1px solid green;
  background: rgba(50, 90, 45, 0.1);
}

/*#pict3{*/
  /*display: block;*/
  /*float: left;*/
  /*position: relative;*/
  /*top: 10%;*/
  /*left: 25%;*/
  /*width: 40%;*/
  /*max-width: 40%;*/
  /*height: auto;*/
  /*border: none;*/
  /*background: rgba(185, 191, 201, 0.3);*/
  /*border-radius: 15px;*/
/*}*/

/*#pict7{
  top: 15%;
  display: block;
  float: right;
  position: relative;
  right: 0%;
  width: 20%;
  max-width: 40%;
  height: auto;
  border: none;
  background: rgba(185, 191, 201, 0.3);
  border-radius: 15px;
}*/

/*#pict5{
  left: 15%;
  position: relative;
}

#pict6{
  left: 50%;
  position: relative;
}

#pict7{
  left: 85%;
  position: relative;
}*/

#page2text{
  vertical-align: top;
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px black;
}

.bounce,.bounce2, .bounce3{
width:0px;
height:0px;
border-left:12px solid transparent;
border-right:12px solid transparent;
border-top:12px solid #fff;
position: relative;
left:50%;
bottom:0;
margin-top:-25px;
margin-left:-25px;
  /*height:50px;*/
  /*width:50px;*/
  /*background:red;*/
-webkit-animation:bounce 2s infinite;
-moz-animation:bounce 2s infinite;
-o-animation:bounce 2s infinite;
animation:bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-moz-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-o-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 svg {
	background-color: #bbbbff;
}

text {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 12px;
}

path {
	fill:   #e0f0d4;
	stroke: #666;
	stroke-width: .5px;
}

.line {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.axis text {
	font-size: 10px;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.bar.positive {
  fill: darkred;
}

.bar.negative {
  fill: steelblue;
}

.button {
	float: left;
    background-color: #bbbbff;
    border: none;
	margin: 0px 5px 0px 0px;
	padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

#needhelp {
	float: left;
	width: 450px;
	font-family: Helvetica, Arial, Sans-Serif;
	font-style: italic;
	margin: 10px 0px 10px 10px;
}

#needhelp a {
	text-decoration: none;
}

#midsection {
	width: 1350px;
	height: 535px;
	}

#btmsection {
	padding: 5px 0px 0px 0px;
	width: 1350px;
	height: 90px;
	}

#topnav {
	width: 1350px;
	height: 30px;
	}

#map {
	width: 800px;
	height: 505px;
	float: left;
}

#sidescreen{
	display:table;
	table-layout:fixed;
	padding: 0px 0px 0px 5px;
	width: 460px;
}

#sidenav {
	display : table-row;
	height: 30px;
	}

#sideblock {
	display : table-row;
	height: 465px;
	}

#slider {
	width:800px;
	float: left;
}
