<!-- Sebastiaan Hoekstra stnr 10264523 -->

<!DOCTYPE html>

<meta charset="utf-8">

<head>
	<meta charset="utf-8">
	<title>Climate map</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slider/d3.slider.css') }}" />

    <script src="{{ url_for('static', filename='d3/d3.v3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='d3/queue.js') }}"></script>
	<script src="{{ url_for('static', filename='world_map/topojson.v1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='world_map/d3.map.js') }}"></script>
	<script src="{{ url_for('static', filename='slider/d3.slider.js') }}"></script>
	<script src="{{ url_for('static', filename='line_chart/d3.linechart.js') }}"></script>
</head>

<body>
	<div id="midsection">
		<div id="topnav">
			<button class="button" onclick="updateData()">Explore </button>
			<button class="button" onclick="updateData2()">Compare </button>
		</div>
		<div id="map"></div>	
		<div id="sidescreen">
			<div id="sidenav">
				<button class="button" onclick="updateData3()">Annual </button>
				<button class="button" onclick="updateData4()">Monthly </button>
			</div>
			<div id="sideblock">
			   <div id="row">
			   </div>
			   <div id="row2">
			   </div>
			</div>
		</div>
	</div>
	<div id="btmsection">
		<div id="slider"></div>
		<div id="needhelp">
		<a href="" > Need help reading this? </a>
		</div>
	</div>
	
<script>
	// Initialize map
	var map = d3.map(2017,[0,0],null);
	
	// Initialize slider
	var slider = d3.slider().min(1900).max(2020).ticks(10).tickFormat(d3.format("f")).showRange(true).value(2017);
	d3.select('#slider').call(slider);
	
	// Initialize first line chart
	var linechart = d3.linechart('#row','Absolute temperatures', 'static/line_chart/line_data.csv', 'first');
	var linechart = d3.linechart('#row','Temperature changes', 'static/line_chart/line_data.csv', 'second');
	var linechart = d3.linechart('#row2','Comparison per country', 'static/line_chart/line_data.csv' ,'first');
	var linechart = d3.linechart('#row2','Extreme values', 'static/line_chart/line_data.csv', 'second');
</script>
