<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}" />
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-3.2.0.min.js')}}"></script>
    <script>
    $(function(){
      $("#includedContent").load("/worldmap");
    });
    </script>
  </head>

  <body>
  <div class="title1">
    <h1>How Fair is Climate Change?</h1>
  </div>

  <div class="page1">
    <p>Climate change is happening and impacting us all. Everybody has heard
      about the global effects, but what about local effects? We set out to
      find out who is causing climate change, and who is feeling its
      effects the most. Intrigued? Scroll further.
      <br /><br />
      Enjoy! - Tom, Jenny, Sebastiaan, Dion, Koen
    </p>
  </div>

 <div class="bounce"></div>

<div class="title2">
  <h1>
    The Difference in Local Change
  </h1>
</div>

<div class="page2">
  <p id="page2text">There are three indicators of local climate change. <br>Hover over them to see example graphs.</p>
  <!-- <img src="images/spidergraph.jpg" id="pict1" /> -->
  <!-- <img src="images/nl2.jpg" id="pict2" /> -->

    <div>
      <p>1: Temperature per month</p>
      <!-- <img src="images/thermometerlogo.png" id=pict5/> -->
      <a class="thumb" href="#/"><img src="{{ url_for('static', filename='introduction/images/thermometerlogo.png')}}" id=pict5 alt=""><span><img src="{{url_for('static', filename='introduction/images/nl2.jpg')}}" alt=""></span></a>
    </div>

    <div>
      <p>2: Temperature change</p>
      <!-- <img src="images/sunandcloud.svg" id=pict6 /> -->
      <a class="thumb2" href="#/"><img src="{{url_for('static', filename='introduction/images/sunandcloud.svg')}}" id=pict6 alt=""><span><img src="{{url_for('static', filename='introduction/images/Barchartcrop.png')}}" alt=""></span></a>
    </div>

    <div>
      <p>3. Absolute temperature</p>
      <a class="thumb3" href="#/"><img src="{{url_for('static', filename='introduction/images/cloud-with-lightning.png')}}" id=pict7 alt=""><span><img src="{{url_for('static', filename='introduction/images/Linegraphcrop.png')}}" alt=""></span></a>
    </div>

</div>

<div class="bounce2"></div>

<div class="title3">
  <h1>
    The difference in CO2 emissions
  </h1>
</div>

<div class="page3">
  <p id="page2text">Not every country emits the same amount of CO2.<br> Is this fair
  considering who feels the climate effects?</p>

  <div class="container">
    <div>
      <!-- <p>1. CO2 emissions</p> -->
      <a class="thumb4" href="#/"><img src="{{url_for('static', filename='introduction/images/worldlogo.png')}}" id="pict3" alt=""><p>4. World comparisson</p><span><img id="hover2" src="{{url_for('static', filename='introduction/images/worldmapz.png')}}" alt=""></span></a>
    </div>

    <div>
      <a class="thumb5" href="#/"><img src="{{url_for('static', filename='introduction/images/circles.png')}}" id="pict4" alt=""><p>5. Bubble comparisson</p><span><img id="hover3" src="{{url_for('static', filename='introduction/images/bubblechart_dummy.png')}}" alt=""></span></a>
    </div>

    <span class="stretch"></span>
  </div>

</div>

<div class="bounce3"></div>

<div class="title4">
  <h1>
    Explore!
  </h1>
</div>

<div class="mapplaceholder">
    <div id="includedContent"></div>
</div>


  </body>


</html>
